<header>
    <section class="textos-header">
        <h1>Datos Adicionales</h1>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C223.75,175.17 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;">
            </path>
        </svg>
    </div>
</header>
<section class="preguntas-frecuentes clearfix">
    <div class="preguntas-frecuentes-contenedor serif">
        <div class="preguntas-frecuentes-encabezado-linea-roja"></div>
        <h1>Información extra</h1>
        <div class="accordion css-accordion preguntas">
            <img src="../../../assets/mundo1.webp" alt="">
            <input class="accordion-item-input" type="checkbox" name="accordion" id="item1" />
            <label for="item1" class="accordion-item-hd">Más sobre Amway
                <span class="accordion-item-hd-cta">&#9650;</span>
            </label>
            <div class="accordion-item-bd respuesta">
                <h3 style="text-align: center;">¿Qué es Amway?</h3>
                <p>
                    Amway es una compañía de marketing multinivel* o más conocida por network marketing, fundada en 1959 en Estados Unidos por Jay Van Andel y Rich DeVos.
                    <br>
                    *El marketing multinivel es una estrategia controvertida​​​​ de mercadotecnia donde los asociados son retribuidos, no solo por sus ventas, sino también las ventas realizadas por los individuos que forman parte de su estructura organizativa.
                </p>
                <h3 style="text-align: center;">¿Por qué Amway es legal?</h3>
                <p>
                    Amway es una compañía de ventas directas que opera en más de 100 países y territorios alrededor del mundo. Con Amway, los costos de inicio son bajos, respaldados con una garantía de devolución del dinero de 90 días. Sin requisito de compras.
                    <br>
                    En Amway, los distribuidores (Empresarios Independientes Amway) generan dinero con la venta de productos De hecho, una persona puede generar más ingresos que la persona que los auspició para ingresar al negocio. Existe un contrato escrito entre Amway y un Empresario Independiente que define la relación y proporciona Reglas de Conducta.
                    <br>
                    La venta directa es un plan de negocios reconocido por entidades legales y de aplicación de la ley. Según la Asociación de Ventas directas de los Estados Unidos, en el 2021 había 7.3 millones de personas que vendían a casi 44.6 millones de clientes, contribuyendo con un estimado de $42.7 mil millones en ventas minoristas a la economía nacional.
                    <br>
                    Durante 6 años, Amway ha investigado, diseñado y vendido productos de nutrición, cuidado personal y para el hogar de alta calidad, que aprovechan lo mejor de la naturaleza, utilizan lo mejor de la ciencia y siguen el ritmo de un mercado en constante evolución.
                </p>
            </div>
            <img src="../../../assets/ventas2.jpg" alt="">
            <input class="accordion-item-input" type="checkbox" name="accordion" id="item2" />
            <label for="item2" class="accordion-item-hd">Venta Directa y productos
                <span class="accordion-item-hd-cta">&#9650;</span>
            </label>
            <div class="accordion-item-bd respuesta">
                <h3 style="text-align: center;">¿Qué son las ventas directas?</h3>
                <p>
                    Como su nombre lo indica, este tipo de venta es directa e interpersonal. Este modelo de negocios empresariales faculta a los individuos para que comiencen negocios con bajos costos de arranque y no requiere experiencia.
                    <br>
                    Las ventas directas permiten que cualquiera pueda tener un negocio. Como distribuidores, estos empresarios independientes obtienen ingresos vendiendo productos exclusivos en persona o en línea. Muchos aumentan sus posibles ingresos auspiciando y capacitando a otros para que se unan a sus equipos y hagan lo mismo.
                    <br>
                    En el 2016, 107 millones de personas de todo el mundo participaron en ventas directas, lo que significó una cifra de más de $182,600 millones en ventas minoristas directas. Según los ingresos del 2016, Amway™, Avon®†, Herbalife®†, Vorwerk®† y Mary Kay®† son las cinco principales compañías de ventas directas a nivel global.
                </p>
                <h3 style="text-align: center;">Con los productos ¿Qué productos vendes y hacen prueba de animales?</h3>
                <p>
                    Amway ofrece un amplio surtido de productos y soluciones saludables, que te dan apoyo en cada paso de tu trayectoria empresarial hacia un estilo de vida más saludable. Productos en nutrición, belleza, cuidado personal y para el hogar que combinan lo mejor de la naturaleza y lo mejor de la ciencia. Con 100% garantía de satisfacción respaldada por el programa AMWAYPROMISE™ que ofrecemos, puedes confiar en la calidad de los productos que estás recibiendo.
                    <br>
                    En respuesta a la siguiente pregunta, ni Amway ni la marca Artistry ™ prueban sus ingredientes y formulaciones de productos en animales. Reconocemos que nuestros productos se venden en China, donde la ley exige la experimentación con animales. Cuando la ley exige que los productos Artistry ™ se sometan a pruebas en animales, las pruebas son realizadas por laboratorios de terceros aprobados por el gobierno, no por Amway. Apoyamos activamente las alternativas a las pruebas con animales requeridas, llegando incluso a proporcionar métodos alternativos de experimentación sin animales a las agencias gubernamentales para su consideración. Nuestros productos e ingredientes no se prueban en animales a menos que las regulaciones gubernamentales nos exijan hacerlo. Si compra productos Artistry fuera de China, puede estar seguro de que el producto no ha sido probado en animales.
                    <br>
                    Los productos Artistry ™ se venden en más de 50 países y territorios de todo el mundo. Actualmente, solo una nación requiere someter productos periódicamente para su prueba (China). Cuando la ley exige que los productos Artistry ™ se presenten para pruebas en animales, las pruebas son realizadas por laboratorios de terceros aprobados por el gobierno, no por Amway.
                    <br>
                    Artistry Skin Nutrition: Los productos globales Artistry Skin Nutrition ™ no se prueban en animales y están registrados como veganos por la Vegan Society.
                </p>
            </div>
            <img src="../../../assets/estafa3.jpg" alt="">
            <input class="accordion-item-input" type="checkbox" name="accordion" id="item3" />
            <label for="item3" class="accordion-item-hd">Mitos
                <span class="accordion-item-hd-cta">&#9650;</span>
            </label>
            <div class="accordion-item-bd respuesta">
                <h3 style="text-align: center;">Esquema piramidal ¿Lo es?</h3>
                <p>
                    No, no lo es, veamos la diferencia entre Amway y un esquema piramidal: 
                    <br>
                    - Amway™ es una empresa de productos de consumo que opera desde 1959 —seis exitosas décadas—. Nuestros Empresarios Amway hacen negocios en más de 100 países y territorios en todo el mundo. En 2019, nuestras ventas globales fueron de $8.4 mil millones de dólares, lo que convirtió a Amway™ en la empresa de venta directa número 1 del mundo por otro año consecutivo*. 
                    <br>
                    - Los esquemas piramidales no tienen nada que ver con la actividad comercial real o las ventas de productos. Dichos esquemas son una forma de fraude financiero basada en el reclutamiento de nuevas personas para hacer inversiones en un negocio, y luego usar esas inversiones para pagar a las personas que se unieron anteriormente. 
                    <br>
                    - En un esquema piramidal estás obligado a invertir sumas de dinero sin ningún tipo de contraprestación de bienes o servicios. O con valores muy altos en relación con los bienes o servicios que se reciben. 
                    <br>
                    - Nuestros Empresarios Amway solo ganan dinero cuando venden productos Amway™. No hay beneficio para aquellos que se unieron a Amway™ desde el principio. De hecho, es muy posible que, según su esfuerzo, un Nuevo Empresario Amway gane más dinero que la persona que lo auspició en el Negocio Amway, incluso si esa persona es parte de Amway desde hace muchos años. 
                </p>
                <h3 style="text-align: center;">Entonces ¿Es una estafa?</h3>
                <p>
                    No. Amway es la compañía de venta directa más grande del mundo. Desde 1959 elaboramos productos de alta calidad para nutrición, belleza y hogar.
                    <br>
                    2 aspectos importantes de nuestro negocio:
                    <br>
                    1) Amway™ es un negocio que requiere esfuerzo y tiempo para obtener un negocio sustentable.
                    <br>
                    2) La mayoría de los Empresarios Amway trabajan sus negocios a tiempo parcial.
                    <br>
                </p>
            </div>
        </div>
    </div>
</section>