<header>
  <section class="textos-header">
    <h1>El comienzó de todo</h1>
  </section>
  <div class="wave" style="height: 150px; overflow: hidden; bottom: 0;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C223.75,175.17 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
        style="stroke: none; fill: #fff;">
      </path>
    </svg>
  </div>
</header>
<main>
    <section >
        <div class="containerC">
            <div class="blog-post">
                <div class="bog-post-img">
                  <img src="../../../assets/amwayHistoria.jpg" alt="" style="height: 430px; width:400px;">
                </div>
                <div class="blog-post-info">
                  <div class="blog-post-title">
                    <h2 class="titulo" style="text-align:center ;">Historia</h2>
                  </div>
                  <div class="blog-post-desc">
                    <p>
                        En agosto de 1949, DeVos y Van Andel firmaron para transformarse en distribuidores de los accesorios alimenticios de Nutrilite.
                        <br>
                        Luego de los resultados que obtuvieron determinaron comenzar a desarrollar más distribuidores, ofreciéndoles la comisión sobre las ventas de productos y por las ventas de los distribuidores e nuevos introducidos a la organización, conocido como marketing multinivel o mercadeo en red. 
                        <br>
                        En 1958, DeVos y Van Andel habían construido una organización de bastante más de 5000 distribuidores. 
                        <br>
                        Su primer producto ha sido denominado Frisk, un limpiador orgánico concentrado desarrollado en Ohio, cambiando después su nombre a LOC (limpiador orgánico líquido). Luego se conformó Amway Corporation de ventas para conseguir los productos de inventario y para manejar las ventas y el proyecto de marketing, y Amway Corporación de Servicios para los seguros y otros beneficios para los distribuidores de Amway. 
                        <br>
                        Luego de los resultados que obtuvieron acordaron comenzar a desarrollar más distribuidores, ofreciéndoles la comisión sobre las ventas de productos y por las ventas de los distribuidores nuevos introducidos a la compañía por los distribuidores ya existentes, algo conocido en la actualidad como marketing multinivel o mercadeo en red. 
                        <br>
                        El nombre de Amway continuó siendo usado en lo demás de todo el mundo. Luego de 2001 Alticor escogió cerrar Amway Norteamérica.
                    </p>
                  </div>
                </div>
            </div>
        </div>
    </section>
    <section>
      <div class="container" >
        <div class="card-container">
            <div class="headerA">
                <a href="#">
                    <img src="../../../assets/richard.jpg" alt="">
                </a>
                <h2>Richard DeVos</h2>
                <h3>4/03/1926 - 6/09/2018</h3>
                <h4>Empresario</h4>
            </div>
            <div class="descripcion">
                <p>
                    DeVos nació el 4 de marzo de 1926, siendo hijo de los inmigrantes holandeses Simon C. DeVos y Ethel Ruth, en una metrópoli llamada Grand Rapids en Michigan. 
                    <br>
                    DeVos estudió en el colegio secundaria cristiana Grand Rapids y aquí es donde conoció a su amigo y futuro socio comercial, Jay Van Andel. 
                    <br>
                    En la década de 1950, DeVos y Van Andel trabajaron como vendedores puerta a puerta de vitaminas Nutrilite. 
                    <br>
                    Tiempo después, hicieron Amway (abreviatura de American Way Association) en abril de 1959 para demostrar su cartera de productos. Este iba a ser el primer producto de la vasta gama de Amway. 
                    <br>
                    Después DeVos y Van Andel hicieron diferentes corporaciones como Amway Services, Amway Sales y Amway Manufacturing para saciar las múltiples necesidades de la compañía, que al final se fusionarían en una sola entidad; Amway Corporation en 1964. 
                    <br>
                    Se expandieron todavía más a Ucrania (2003), Rusia (2005) y Vietnam (2008). La compañía estaba en el número 42 en la lista Forbes 2018 de las compañías privadas mayores de USA y era la compañía número uno en el Lista 2019 de Direct Selling News Universal 100. 
                    <br>
                    Richard, quien se retiró en 1993, ha sido «el motivador de Amway», liderando conferencias para distribuidores que llenaron auditorios públicos y empezaron con el compromiso de lealtad estadounidense, informó Forbes en un perfil de DeVos en 1975. 
                </p>
            </div>
        </div>
      </div>
      <div class="containerA">
        <div class="card-container">
            <div class="descripcionA">
                <p>
                    Jay Van Andel ha sido un empresario de Estados Unidos, cofundador del Amway Corporation, junto con Richard DeVos. a partir de 1979 hasta 1980 y después como integrante de su Consejo Preeminente 1980-1985. 
                    <br>
                    Además ha sido conocido por financiar las misiones religiosas y las razones políticas conservadoras, integrado el Partido Republicano. 
                    <br>
                    En 1949, Van Andel y DeVos se tornan distribuidores de suplementos dietéticos de Nutrilite. En 1959, la "Agrupación American Way" se empezó en los sótanos de las viviendas de Van Andel y DeVos, y después se conformó dicho año "Amway Sales Corporation" . 
                    <br>
                    Van Andel y su señora Betty fallecieron los dos en 2004; Betty tuvo la patología de Alzheimer, y Jay poseía Parkinson. 
                </p>
            </div>
            <div class="headerA">
                <a href="#">
                    <img src="../../../assets/jay.jpg" alt="">
                </a>
                <h2>Jay Van Andel</h2>
                <h3>3/06/1924 - 7/12/2004</h3>
                <h4>Empresario</h4>
            </div>
        </div>
      </div>
    </section>
    <section></section>
</main>