<header>
  <section class="textos-header">
    <h1>Potencia tus ventas al menos un 200%</h1>
    <h2>Forma parte de nosotros</h2>
  </section>
  <div class="wave" style="height: 150px; overflow: hidden;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C223.75,175.17 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
        style="stroke: none; fill: #fff;">
      </path>
    </svg>
  </div>
</header>
<main>
  <section class="contenedor sobre-nosotros" id="slideshow">
    <h2 class="titulo">Nuestros productos</h2>
    <div class="entire-content">
      <div class="content-carrousel">
        <figure class="shadow">
          <a href="marcas">
            <img src="../../../assets/fotoCarrousel1.jpg" />
          </a>
        </figure>
        <figure class="shadow">
          <a href="marcas">
            <img src="../../../assets/fotoCarrousel2.jpg" />
          </a>
        </figure>
        <figure class="shadow">
          <a href="marcas">
            <img src="../../../assets/fotoCarrousel3.jpg" />
          </a>
        </figure>
        <figure class="shadow">
          <a href="marcas">
            <img src="../../../assets/fotoCarrousel4.jpg" />
          </a>
        </figure>
        <figure class="shadow">
          <a href="marcas">
            <img src="../../../assets/fotoCarrousel5.jpg" />
          </a>
        </figure>
        <figure class="shadow">
          <a href="marcas">
            <img src="../../../assets/fotoCarrousel6.jpg" />
          </a>
        </figure>
        <figure class="shadow">
          <a href="marcas">
            <img src="../../../assets/fotoCarrousel7.jpg" />
          </a>
        </figure>
        <figure class="shadow">
          <a href="marcas">
            <img src="../../../assets/fotoCarrousel8.jpg" />
          </a>
        </figure>
        <figure class="shadow">
          <a href="marcas">
            <img src="../../../assets/productos.jpg" />
          </a>
        </figure>
      </div>
    </div>
  </section>
  <section class="cardUltimo">
    <div class="blog-post">
      <div class="bog-post-img">
        <img src="../../../assets/fundadores.jpg" alt="">
      </div>
      <div class="blog-post-info">
        <div class="blog-post-title">
          <h2 class="titulo">Fundadores</h2>
        </div>
        <div class="blog-post-desc">
          <p>
            En agosto de 1949, DeVos y Van Andel firmaron para transformarse en distribuidores de los accesorios alimenticios de Nutrilite.
            <br>
            Luego de los resultados que obtuvieron determinaron comenzar a desarrollar más distribuidores... 
          </p>
        </div>
        <div class="blog-post-read-more">
          <a href="historia">Leer más</a>
        </div>
      </div>
    </div>
    <div class="blog-post">
      <div class="blog-post-info">
        <div class="blog-post-title">
          <h2 class="titulo">Información</h2>
        </div>
        <div class="blog-post-desc">
          <p>
            En un fallo de 1979,​ la Comisión Federal de Negocio localizó que Amway no encajaba con la definición de Esquema Piramidal debido a que:
            <br>
            a los distribuidores no se les pagaba por reclutar gente, no requería que los distribuidores compraran una porción significativa de inventario, a los distribuidores se les ...
          </p>
        </div>
        <div class="blog-post-read-more1">
          <a href="información">Leer más</a>
        </div>
      </div>
      <div class="bog-post-img" >
        <img src="../../../assets/informacion.jpg" alt="" class="informacionImg">
      </div>
    </div>
  </section>
</main>