<header>
    <section class="textos-header">
        <h1>Nuestras marcas y productos</h1>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C223.75,175.17 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;">
            </path>
        </svg>
    </div>
</header>
<main>
    <h3>Nuestras marcas</h3>
    <section class="body">
        <div class="container">
            <figure>
                <img src="../../../assets/artistry-removebg-preview.png" alt="" class="img1">
                <div class="capa">
                    <h1>Artristy</h1>
                    <p>Es una de las 10 marcas premium del cuidado de la piel de mayor venta a nivel mundial y tiene más de 250 patentes.</p>
                </div>
            </figure>
        </div>
        <div class="container">
            <figure>
                <img src="../../../assets/amwayhome-removebg-preview.png" alt="" class="img1">
                <div class="capa">
                    <h1>Amway Home</h1>
                    <p>Al usar sus productos constribuye a disminuye la conaminación y el deterioro de nuestro planeta.</p>
                </div>
            </figure>
        </div>
        <div class="container">
            <figure>
                <img src="../../../assets/nutrilite-removebg-preview.png" alt="" class="img1">
                <div class="capa">
                    <h1>Nutrilite</h1>
                    <p>Es número uno a nivel mundial en vitaminas y suplementos dietarios, posee sus propias granjas certificadas y organicas.</p>
                </div>
            </figure>
        </div>
    </section>
    <section>
        <h3>Nuestros productos</h3>
        <div class="contenedor">
            <input type="radio" name="filtro" id="todos" checked="yes">
            <label for="todos">Todos</label>
            <input type="radio" name="filtro" id="belleza">
            <label for="belleza">Artristy</label>
            <input type="radio" name="filtro" id="hogar">
            <label for="hogar">Amway Home</label>
            <input type="radio" name="filtro" id="nutricion">
            <label for="nutricion">Nutrilite</label>
            <div id="elementos">
                <img src="../../../assets/artristiUno.jpg" class="Artristy">
                <img src="../../../assets/artristiDos.jpg" class="Artristy">
                <img src="../../../assets/artristiTres.jpg" class="Artristy">
                <img src="../../../assets/artristiCuatro.jpg" class="Artristy">
                <img src="../../../assets/amwayhomeUno.jpg" class="AmwayHome">
                <img src="../../../assets/amwayhomeDos.jpg" class="AmwayHome">
                <img src="../../../assets/amwayhomeTres.jpg" class="AmwayHome">
                <img src="../../../assets/amwayhomeCuatro.jpg" class="AmwayHome">
                <img src="../../../assets/nutriliteUno.jpg" class="Nutrilite">
                <img src="../../../assets/nutriliteDos.jpg" class="Nutrilite">
                <img src="../../../assets/nutriliteTres.jpg" class="Nutrilite">
                <img src="../../../assets/nutriliteCuatro.jpg" class="Nutrilite">
                <img src="../../../assets/nutriliteCinco.jpg" class="Nutrilite">
            </div>
        </div>
    </section>
</main>