<footer class="pie-pagina">
    <div class="gupo-1">
        <div class="box" style="float: left; width:30%;">
            <figure>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <a href="inicio">
                    <img src="../../../assets/logoA-removebg-preview.png" alt="" class="logoA">
                </a>
            </figure>
        </div>
        <div class="box1" style="float: left; width:30%;">
            <label for="email" style=" display: block !important; font-family: 'medieval';">Email</label>
            <input type="email" class="controls" type="email" name="email" id="email" placeholder="  Ingrese su email">
            <button class="btn">
                Enviar
            </button>
        </div>
        <div class="box2">
            <p style=" font-family: 'medieval';">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Cualquier duda o consulta puede entrar
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                en la pagina oficial de
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.amway.com.ar/Default.aspx">
                    <img src="../../../assets/logoOriginal-removebg-preview.png" alt="" class="logoOriginal">
                </a>
            </p>
        </div>
    </div>
    <div class="grupo-2">
        <div class="footer-social-icons">
            <h4 class="_14" style="text-align:center ;  font-family: 'medieval';">Seguimos en:</h4>
            <ul class="social-icons">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li><a href="https://www.facebook.com/AmwayMex" class="social-icon"> <i
                            class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/amwaydemexico/" class="social-icon"> <i
                            class="fa fa-instagram"></i></a></li>&nbsp;
                <li><a href="https://www.youtube.com/user/AmwayLatinTV" class="social-icon"> <i class="fa fa-youtube"></i></a></li>&nbsp;
                <li><a href="https://open.spotify.com/show/47xLLbDNX7GNTofXAqYOUa?si=NGQj68IJTK2X7mVAqa6Waw&nd=1" class="social-icon"> <i class="fa fa-spotify"></i></a></li>
            </ul>
        </div>
    </div>
</footer>